In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
df=pd.read_csv('data1.csv')

In [35]:
df.head()

,Unnamed: 0,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,...,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction_encoded,customer_type_encoded,travel_encoded,class_encoded
0,0,65,265,0,0,0,2,2,4,2,...,3,5,3,2,0,0.0,1,1,0,0
1,1,47,2464,0,0,0,3,0,2,2,...,4,2,3,2,310,305.0,1,1,0,2
2,2,15,2138,0,0,0,3,2,0,2,...,4,4,4,2,0,0.0,1,1,0,0
3,3,60,623,0,0,0,3,3,4,3,...,1,4,1,3,0,0.0,1,1,0,0
4,4,70,354,0,0,0,3,4,3,4,...,2,4,2,5,0,0.0,1,1,0,0

In [36]:
df.isnull().sum()

Unnamed: 0                           0
Age                                  0
Flight Distance                      0
Seat comfort                         0
Departure/Arrival time convenient    0
Food and drink                       0
Gate location                        0
Inflight wifi service                0
Inflight entertainment               0
Online support                       0
Ease of Online booking               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Cleanliness                          0
Online boarding                      0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
Satisfaction_encoded                 0
customer_type_encoded                0
travel_encoded                       0
class_encoded                        0
dtype: int64

In [37]:
df.dtypes

Unnamed: 0                             int64
Age                                    int64
Flight Distance                        int64
Seat comfort                           int64
Departure/Arrival time convenient      int64
Food and drink                         int64
Gate location                          int64
Inflight wifi service                  int64
Inflight entertainment                 int64
Online support                         int64
Ease of Online booking                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Cleanliness                            int64
Online boarding                        int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
Satisfaction_encoded                   int64
customer_type_encoded                  int64
travel_encoded                         int64
class_encoded                          int64
dtype: object

In [38]:
df=df.drop(columns=['Unnamed: 0'],axis=1)

In [39]:
df.head()

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,...,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Satisfaction_encoded,customer_type_encoded,travel_encoded,class_encoded
0,65,265,0,0,0,2,2,4,2,3,...,3,5,3,2,0,0.0,1,1,0,0
1,47,2464,0,0,0,3,0,2,2,3,...,4,2,3,2,310,305.0,1,1,0,2
2,15,2138,0,0,0,3,2,0,2,2,...,4,4,4,2,0,0.0,1,1,0,0
3,60,623,0,0,0,3,3,4,3,1,...,1,4,1,3,0,0.0,1,1,0,0
4,70,354,0,0,0,3,4,3,4,2,...,2,4,2,5,0,0.0,1,1,0,0

In [40]:
df.columns

Index(['Age', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'Satisfaction_encoded', 'customer_type_encoded', 'travel_encoded',
       'class_encoded'],
      dtype='object')

In [41]:
y = df['Satisfaction_encoded']
x = df.drop(['Satisfaction_encoded'], axis=1)

In [42]:
x.head()

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,...,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,customer_type_encoded,travel_encoded,class_encoded
0,65,265,0,0,0,2,2,4,2,3,...,0,3,5,3,2,0,0.0,1,0,0
1,47,2464,0,0,0,3,0,2,2,3,...,4,4,2,3,2,310,305.0,1,0,2
2,15,2138,0,0,0,3,2,0,2,2,...,3,4,4,4,2,0,0.0,1,0,0
3,60,623,0,0,0,3,3,4,3,1,...,0,1,4,1,3,0,0.0,1,0,0
4,70,354,0,0,0,3,4,3,4,2,...,0,2,4,2,5,0,0.0,1,0,0

In [43]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Satisfaction_encoded, dtype: int64

In [44]:
x.shape

(129880, 21)

In [45]:
y.shape

(129880,)

In [46]:
y.value_counts()

1    71087
0    58793
Name: Satisfaction_encoded, dtype: int64

In [47]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=33,stratify=y)

In [48]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((97410, 21), (32470, 21), (97410,), (32470,))

In [49]:
from sklearn.tree import DecisionTreeClassifier
model_dt=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)
model_dt.fit(x_train,y_train)
y_pred=model_dt.predict(x_test)
model_dt.score(x_test,y_test)

0.8963042808746535

In [50]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.88      0.90      0.89     14698
           1       0.91      0.89      0.90     17772

    accuracy                           0.90     32470
   macro avg       0.89      0.90      0.90     32470
weighted avg       0.90      0.90      0.90     32470

In [53]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)

In [54]:
acc

0.8963042808746535